<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>

    <div id="main">
        <%- include('../partials/header') %>
        <%- include('../partials/index_content') %>

    </div>

    <%- include('../partials/footer') %>

    <script src="javascript/ui.js"></script>
</body>

</html>